$TTL 604800     ; 1 week
@       IN SOA  ns1.example.jp. root.example.jp. (
                                7          ; serial
                                604800     ; refresh (1 week)
                                86400      ; retry (1 day)
                                2419200    ; expire (4 weeks)
                                604800     ; minimum (1 week)
                                )
                        NS      ns1.example.jp.
$ORIGIN 30.1.10.in-addr.arpa.
$TTL 604800     ; 1 week
1     PTR erl.example.jp.
5     PTR ansible.example.jp.
11    PTR ns1.example.jp.
