zone "example.jp" IN {
    type master;
    file "/etc/named/zones/db.example.jp";
    allow-update { key rndc-key; };
};

zone "79.168.192.in-addr.arpa" IN {
    type master;
    file "/etc/named/zones/db.30.1.10.in-addr.arpa";
    allow-update {key rndc-key; };
};

controls {
     inet 127.0.0.1 port 953
         allow { 127.0.0.1; } keys { "rndc-key"; };
};
